<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="CarbonFramework" value="http://bellatrix:8080/tfs/KocDigitalCollection/_packaging/CarbonFramework/nuget/v3/index.json" />
	<add key="Platform360Core" value="http://bellatrix:8080/tfs/KocDigitalCollection/_packaging/Platform360Core/nuget/v3/index.json" />
    <add key="CosmosNugetServerv1" value="http://bellatrix:8080/tfs/KocDigitalCollection/_packaging/CosmosNugetServerv1/nuget/v3/index.json" />
  </packageSources>
  <disabledPackageSources>
    <add key="AspNet_October_202_Patch" value="true" />
    <add key=".NetAlpha" value="true" />
  </disabledPackageSources>
  <packageSourceCredentials>
    <CarbonFramework>
      <add key="Username" value="kdtfsservice" />
      <add key="ClearTextPassword" value="3wrskdturzetggki44e6ussu2egtpqzum3ibn4purtivxte6d2ya" />
      <add key="ValidAuthenticationTypes" value="basic" />
    </CarbonFramework>
    <CosmosNugetServerv1>
      <add key="Username" value="kdtfsservice" />
      <add key="ClearTextPassword" value="3wrskdturzetggki44e6ussu2egtpqzum3ibn4purtivxte6d2ya" />
      <add key="ValidAuthenticationTypes" value="basic" />
    </CosmosNugetServerv1>
	<Platform360Core>
      <add key="Username" value="kdtfsservice" />
      <add key="ClearTextPassword" value="3wrskdturzetggki44e6ussu2egtpqzum3ibn4purtivxte6d2ya" />
      <add key="ValidAuthenticationTypes" value="basic" />
    </Platform360Core>
  </packageSourceCredentials>
</configuration>